{% load static %}

<footer class="container-fluid bg-primary">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="p-1">
                    <span class="align-middle p-1">Feito com Django</span>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-right">
                    <span class="align-middle p-1">Teste Autor</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/bootstrap.min.js' %}"></script>