{% load static %}

<footer class="mt-auto text-white-50 mt-auto">
    <div id="ft-img" class="text-center">
        <img src="{% static 'imagens/banner-alquimia.png' %}" alt="logo" width="80%">
    </div>
    <div id="ft-map" class="text-center">
        <h3 class="">Alquimia Cervejaria</h3>
        <address>Avenida Maria Aparecida Andrade, 532, Sertãozinho - SP.</address>
        <a href="mailto:contato@cervejariaalquimia.com.br">contato@cervejariaalquimia.com.br</a>
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.2715218800213!2d-47.972094424740426!3d-21.141590080536048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b999ed5d2d28ef%3A0x96ca267f677408c!2sAlquimia%20Cervejaria%20Artesanal!5e0!3m2!1spt-BR!2sbr!4v1716501492225!5m2!1spt-BR!2sbr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</footer>

<script src="{% static 'js/bootstrap.min.js' %}"></script>