{% extends 'index.html' %}
{% load static %}

{% block titulo %}Home | {% endblock %}

{% block conteudo %}

<h1 class="text-white text-center">ALQUIMIA CERVEJARIA</h1>
<div class="col-lg-12 text-center">
    <img src="{% static 'imagens/logo-branco-grande.avif' %}" alt="Logo Alquimia" width="40%">
</div>

<p class="lead text-white text-center">O lugar perfeito para os amantes de cerveja artesanal!</p>
<p class="lead text-white">
    <br>
    <div id="carouselExampleAutoplaying" class="carousel slide text-center" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'imagens/alq15.jpeg' %}" alt="Cervejas da Alquimia" width="80%">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imagens/alq17.jpeg' %}" alt="Cerveja Pilsen" width="75%">
            </div>
            <div class="carousel-item"> 
                <img src="{% static 'imagens/alq13.jpeg' %}"  alt="Cerveja IPA" width="75%">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imagens/alq07.jpeg' %}"  alt="Cerveja Stout" width="60%">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imagens/alq21.jpeg' %}"  alt="Cerveja Witbier" width="75%">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próxima</span>
        </button>
        <h4 class="text-white">Todas a nossas cervejas são feitas com insumos importados e de alta qualidade.<br>
        100% PURO MALTE!</h4>
        <br>
        <a href="{% url 'produto:lista' %}" class="btn btn-lg btn-light fw-bold border-white bg-white ">Conheça nossas cervejas</a>
    </div>
</p>

{% endblock %}